*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    color: white;
    width: 100%;
    height: 60px;
    padding: 14px 0;    
    position: fixed;
}



.center{
    margin: 0 auto;
    justify-content: space-between;
    width: 95%;
    padding: 0 2%;
    display: flex;
   
}



.logo h1{
    color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.menu ul{
    display: flex;
    margin-top: 12px;
}

.menu li{
    list-style: none;
    margin-right: 15px;
}

.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: purple;
    font-family: 'roboto';
}

.menu button{
    background-color: purple;
    color: white;
    padding: 4px 7px;
    border: none;
    cursor: pointer;
}

main{
    width: 100%;
    background-image: url('./imgs/cogumelos.jpg');
    height: 85vh;
  
}


section.about{
    padding: 50px 0;
}

section.about h2{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'roboto';
    text-transform: uppercase;
}

section.about p{
    margin: 0 200px;
    line-height: 30px;
    font-size: 16px;
    color: white;
}


section.contato{
    width:100%;
    background-color: white;
    padding: 100px;
}

section.contato h2{
    color:purple;
    padding: 35px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.grey-textbox{
    width: 80%;
    padding: 40px 80px;
    display: flex;
    margin-left: 5rem;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
}


.grey-textbox p{
    line-height: 35px;
}

footer{
    width: 100%;
    background-color: green;
    height: 80px;
    padding: 45px 0;
}

footer p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000;
}


